/* Default styles for all devices */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#share {
  margin-bottom: 20px;
}

 img {
  max-width: 80%;
  height: auto;
  margin-bottom: 20px;
}

#btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Media query for 375px width devices and smaller */
@media (max-width: 375px) {
   img {
    margin: 0px 40px;
   width: 20rem;
  }

  #btn {
    gap: 8px;
  }
}
@media (max-width: 768px) {
   img {
    margin: 0px 100px;
   width: 50rem;
  }

  #btn {
    gap: 8px;
    
  }
}






#image-container {
  text-align: center;
  margin-bottom: 1rem;
}

#random-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.facebook,
.twitter,
.linkedin,
.reddit,
.whatsapp,
.telegram {
  margin: 0 0.5rem;
  text-decoration: none;
  color: #fff;
  background-color: #3b5998;
  border-radius: 50%;
  padding: 0.5rem;
}

.facebook:hover,
.twitter:hover,
.linkedin:hover,
.reddit:hover,
.whatsapp:hover,
.telegram:hover {
  opacity: 0.8;
}

.fa-facebook,
.fa-twitter,
.fa-linkedin,
.fa-reddit,
.fa-whatsapp,
.fa-telegram {
  font-size: 1.5rem;
}