/* Default styles for all devices */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#share {
  margin-bottom: 20px;
}

#sandeep {
  display: flex;
  flex-direction: column;
  align-items: center;
}

 img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

#btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Media query for 375px width devices and smaller */
@media (max-width: 375px) {
   img {
   width: 20rem;
  }

  #btn {
    gap: 8px;
  }
}




